<!-- <div id="wrapper">
	<header></header>
	<sidebar></sidebar>

	<div id="page-wrapper">
		<div ui-view></div>
		<section class="container">
			<div class="row-fluid">
				<div class="span12">
					<footer id="main-footer">
						Copyright © 2016 <a href="/page/cMain">Secureone</a>, all rights reserved.
						<a href="javascript:window.scrollTo(0,0)" class="pull-right" id="on-top-link"> On Top&nbsp;<i class=" icon-chevron-up"></i></a>
					</footer>
				</div>
			</div>
		</section>
	</div>
</div> -->
<!-- Navbar -->
<header></header>
<!-- <headerconfig></headerconfig> -->

<div class="app-body">
    <!-- Navigation -->
    <sidebar></sidebar>
    

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
       <!--  <ol class="breadcrumb" breadcrumb style="background-color: #d9dee0;">
	        <span style="float: right;">
	            <ncy-breadcrumb style="color: #696767;"></ncy-breadcrumb>
			</span>
        </ol> -->

        <div class="container-fluid">
            <ui-view></ui-view>
        </div>
        <!-- /.conainer-fluid -->
    </main>

</div>

<!-- Footer -->
<!-- <div ng-include="'views/common/footer.html'"></div> -->
